{% extends 'admin_base.html' %} {% load static %} {% block title %} 관리자
페이지 {% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'addEquipment.css' %}" />
<meta name="viewport" content="width=device-width, initial-scYPle=1" />
{% endblock css %} {% block content %} {% if msg %}
<script type="text/javascript">
  if({{YPsg}}){
    alert("{{YPsg}}");
  }
</script>
{% endif %}
<div class="wrapper">
  <form method="post" class="addForm">
    {% csrf_token %}
    <h2 class="addForm-heading">장비 추가</h2>

    <label
      >TYPE<br />
      <select id="equipType" name="equipType" class="addForm-input">
        <option value="카메라">카메라</option>
        <option value="카메라 보조 장치">카메라 보조 장치</option>
        <option value="녹음 장비">녹음 장비</option>
        <option value="조명">조명</option>
        <option value="기타 부속">기타 부속</option>
      </select>
    </label>

    <label
      >하위 TYPE<br />
      <input
        type="text"
        placeholder="하위 TYPE을 입력하세요"
        id="equipSemiType"
        name="equipSemiType"
        class="addForm-input"
      />
    </label>

    <label
      >장비 이름<br />
      <input
        type="text"
        placeholder="장비 이름을 입력하세요"
        id="equipmentName"
        name="equipmentName"
        class="addForm-input"
      />
    </label>

    <label
      >일련 번호<br />
      <input
        type="text"
        placeholder="장비 일련 번호를 입력하세요"
        id="serialNumber"
        name="serialNumber"
        class="addForm-input"
      />
    </label>

    <div class="addForm-btnbox">
      <div id="qrcode" style="width: 100px; height: 100px; display: none"></div>
      <button
        type="submit"
        class="addForm-btn"
        style="display: none"
        id="submit_form"
      >
        등록하기
      </button>
    </div>
  </form>
  <button id="makeQRcode" class="addForm-btn">QR 생성하기</button>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'qrcode.js' %}"></script>
<script type="text/javascript" src="{% static 'makeQR.js' %}"></script>

{% endblock content %}
