{% extends 'admin_base.html' %} {% load static %} {% block title %} 관리자
페이지 {% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'addEquipment.css' %}" />
<meta name="viewport" content="width=device-width, initial-scYPle=1" />
{% endblock css %} {% block content %}

<div class="wrapper">
  <form method="post" class="addForm">
    {% csrf_token %}
    <h2 class="addForm-heading">스튜디오 추가</h2>

    <label
      >TYPE<br />
      <select id="equipType" name="studioType" class="addForm-input">
        <option value="편집실">편집실</option>
        <option value="SBS 스튜디오">SBS 스튜디오</option>
        <option value="사운드 스튜디오">사운드 스튜디오</option>
      </select>
    </label>
    <label
      >장비 이름<br />
      <input
        type="text"
        placeholder="스튜디오 이름을 입력하세요 (예 - 4번 PC)"
        id="equipmentName"
        name="studioName"
        class="addForm-input"
      />
    </label>

    <div class="addForm-btnbox">
      <button
        type="submit"
        class="addForm-btn"
        id="submit_form"
      >
        등록하기
      </button>
    </div>
  </form>
  
</div>


{% endblock content %}
