{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'admin_base.css' %}" />
    {% block css %}{% endblock css %}
  </head>
  <body>
    <header>
      <p class="logo">장비대여시스템 관리자 페이지</p>
      <div class="top-nav">
        <a href="{% url 'adminMain' %}">DAILY</a>
        <a href="{% url 'total' %}">LIST</a>
        <a href="{% url 'equipment' %}">MANAGE</a>
        {% if user.profile.isAuth == 2 %}
        <a href="{% url 'adminAuth' %}">AUTH</a>
        {% endif %}
      </div>
    </header>
    <div id="wrapper">{% block content %} {% endblock content %}</div>
  </body>
</html>
