{% extends 'admin_base.html' %}
{% load static %}
{% block title %} 관리자 페이지 {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'equipment.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock css %}
{% block content %}
<div class="equip-wrapper">
  <div class="equip-head">
    <h2 class="equip-heading">관리자 권한 부여하기</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th colspan="2">이름</span>
        <th colspan="3">학적사항</span>
        <th colspan="2">권한</span>
        <th colspan="2">관리하기</span>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td colspan="2">{{user.name}}</td>
        <td colspan="3">{{user.major}}</td>
        {% if user.isAuth == 0 %}
        <td colspan="2">
          <p class="equipState1">사용자</p>
        </td>
        <td colspan="2">
          <a class="equip-table-link" href="{% url 'adminAddAuth' user.pk %}">
            <button class="btn--switch0">관리자로 전환</button>
          </a>
        </td>
        {% else %}
        <td colspan="2">
          <p class="equipState0">관리자</p>
        </td>
        <td colspan="2">
          <a class="equip-table-link" href="{% url 'adminDeleteAuth' user.pk %}">
            <button class="btn--switch1">이용자로 전환</button>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content%}