{% extends 'admin_base.html' %} {% load static %} {% block title %} 관리자
페이지 {% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'detailTotal.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock css %} {% block content %}
<div class="equip-head">
  <a href="{% url 'total' %}">
      <button class="btn_tab" id="red">장비 예약내역</button>
  </a>
  <a href="{% url 'total_studio' %}">
      <button class="btn_tab" id = "gray" >스튜디오 예약내역</button>
  </a>
</div>
<div class="equip-table">
    <form method="POST" action="{% url 'total' %}" id="editForm">
      {% csrf_token %}
      <div class="equip-list">
        <span>현재 예약 상태</span>
        <select name="borrowState">
          {% if EquipList.borrowState == -1 %}
            <option value="{{EquipList.borrowState}}" class="disabled" disabled selected>신청 취소</option>
          {% elif EquipList.borrowState == 0 %}
            <option value="{{EquipList.borrowState}}" class="disabled" disabled selected>대여 가능</option>
          {% elif EquipList.borrowState == 1 %}
            <option value="{{EquipList.borrowState}}" class="disabled" disabled selected>대여중</option>
          {% elif EquipList.borrowState == 2 %}
            <option value="{{EquipList.borrowState}}" class="disabled" disabled selected>연체</option>
          {% elif EquipList.borrowState == 3 %}
            <option value="{{EquipList.borrowState}}" class="disabled" disabled selected>반납 완료</option>
          {% endif %}
          <option value="-1">신청 취소</option>
          <option value="0">대여 신청</option>
          <option value="1">대여중</option>
          <option value="2">연체</option>
          <option value="3">반납 완료</option>
        </select>
      </div>
      <div class="equip-list">
        <span>유저 이름</span>
        <input type="text" name="username" placeholder="{{EquipList.username}}" value="{{EquipList.username}}" readonly>
      </div>
      <div class="equip-list">
        <span>대여 신청 장비</span>
        <input type="text" name="equipment" placeholder="{{EquipList.equipment}}" value="{{EquipList.equipment}}" readonly>
      </div>
      <div class="equip-list">
        <span>실제 대여 장비</span>
        <input type="text" name="equipmentList" placeholder="{{EquipList.equipmentList}}" value="{{EquipList.equipmentList}}" readonly>
      </div>
      <div class="equip-list">
        <span>예약 날짜</span>
        <div class="month">
          <input type="text" id="date" name="fromDate" placeholder="{{EquipList.fromDate}}" value="{{EquipList.fromDate}}" readonly>
          <input type="text" id="date" name="fromDateTime" placeholder="{{EquipList.fromDateTime}}" value="{{EquipList.fromDateTime}}" readonly>
        </div>
      </div>
      <div class="equip-list">
        <span>반납 날짜</span>
        <div class="month">
          <input type="text" id="date" name="toDate" placeholder="{{EquipList.toDate}}" value="{{EquipList.toDate}}" readonly>
          <input type="text" id="date" name="toDateTime" placeholder="{{EquipList.toDateTime}}" value="{{EquipList.toDateTime}}" readonly>
        </div>
      </div>
      <div class="equip-list">
        <span>실제 반납 날짜</span>
        <div class="month">
          <input type="text" id="date" name="realDate" placeholder="{{EquipList.realDate}}" value="{{EquipList.realDate}}" required>
          <input type="text" id="date" name="realDateTime" placeholder="{{EquipList.realDateTime}}" value="{{EquipList.realDateTime}}" required>
        </div>    
      </div>
      <div class="equip-list">
        <span>소속</span>
        <input type="text" name="group" placeholder="{{EquipList.group}}" value="{{EquipList.group}}" required>
      </div>
      <div class="equip-list">
        <span>연락처</span>
        <input type="text" name="phone" placeholder="{{EquipList.phone}}" value="{{EquipList.phone}}" required>
      </div>
      <div class="equip-list">
        <span>목적</span>
        <input type="text" name="purpose" placeholder="{{EquipList.purpose}}" value="{{EquipList.purpose}}" required>
      </div>
      <div class="equip-list">
        <span>신분증</span>
        <input type="text" name="auth" placeholder="{{EquipList.auth}}" value="{{EquipList.auth}}" required>
      </div>
      <div class="equip-list">
        <span>비고</span>
        <input type="text" name="remark" placeholder="{{EquipList.remark}}" value="{{EquipList.remark}}" required>
      </div>

      <div class="center">
        <input type="hidden" name="equipPK" value="{{EquipList.pk}}">
        <div class="btn_edit center">수정하기</button>
      </div>
    </form>
  </div>
{% load static %}
<script type="text/javascript" src="{% static 'detailEquipment.js' %}"></script>
{% endblock content %}
