{% extends 'admin_base.html' %} {% load static %} {% block title %} 관리자
페이지 {% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'admin_main.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock css %} {% block content %}
<div id="wrapper">
  <div class="equip-head">
    <a href="{% url 'adminMain' %}">
      <button class="btn_add" id="red">장비 관리</button>
    </a>
    <a href="{% url 'main_studio' %}">
      <button class="btn_add" id="gray">스튜디오 관리</button>
    </a>
  </div>
  <div class="main_div">
    <div class="current_list" id="current_list1">
      <p class="current_list_p">대여 예정</p>
      {% if state0s %} {% for state0 in state0s %}
      <div class="current_list_card">
        <p>{{state0.username}}</p>
        <div class="current_list_subbox">
          <div>
            <p>
              {{state0.fromDateYear}}년 {{state0.fromDateMonth}}월
              {{state0.fromDateDay}}일 {{state0.fromDateTime}}시부터
            </p>
            <p>
              {{state0.toDateYear}}년 {{state0.toDateMonth}}월
              {{state0.toDateDay}}일 {{state0.toDateTime}}시까지
            </p>
          </div>
          {% for list in state0.equips %}
          <p>대여목록 : {{list.equip}} : {{list.count}} 대</p>
          {% endfor %}
        </div>
        <a href="{% url 'qrcheckBrrow' state0.pk %}">
          <button class="check">대여 확인</button>
        </a>
      </div>
      {% endfor%} {% endif %}
    </div>
    <div class="current_list" id="current_list2">
      <p class="current_list_p">반납 예정</p>
      {% if state1s %} {% for state1 in state1s %}
      <div class="current_list_card">
        <p>{{state1.username}}</p>
        <div class="current_list_subbox">
          <div>
            <p>
              {{state1.fromDateYear}}년 {{state1.fromDateMonth}}월
              {{state1.fromDateDay}}일 {{state1.fromDateTime}}시부터
            </p>
            <p>
              {{state1.toDateYear}}년 {{state1.toDateMonth}}월
              {{state1.toDateDay}}일 {{state1.toDateTime}}시까지
            </p>
          </div>
          {% for list in state1.equips %}
          <p>대여목록 : {{list.equip}} : {{list.count}} 대</p>
          {% endfor %}
        </div>
        <a href="{% url 'qrcheckReturn' state1.pk %}">
          <button class="check check2">반납 확인</button>
        </a>
      </div>
      {% endfor%} {% endif %}
    </div>
    <div class="current_list" id="current_list3">
      <p class="current_list_p">연체 내역</p>
      {% if state2s %} {% for state2 in state2s %}
      <div class="current_list_card">
        <p>{{state2.username}}</p>
        <div class="current_list_subbox">
          <div>
            <p>
              {{state2.fromDateYear}}년 {{state2.fromDateMonth}}월
              {{state2.fromDateDay}}일 {{state2.fromDateTime}}시부터
            </p>
            <p>
              {{state2.toDateYear}}년 {{state2.toDateMonth}}월
              {{state2.toDateDay}}일 {{state2.toDateTime}}시까지
            </p>
          </div>
          {% for list in state2.equips %}
          <p>대여목록 : {{list.equip}} : {{list.count}} 대</p>
          {% endfor %}
        </div>
        <a href="{% url 'qrcheckLate' state2.pk %}">
          <button class="check check3">연체 확인</button>
        </a>
      </div>
      {% endfor%} {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
