<header>
    <p class="logo">장비대여시스템 관리자 페이지</p>
    <div class="top-nav">
        <a href="/">DAILY</a>
        <a href="/">LIST</a>
        <a href="/admin/manage/equipment">MANAGE</a>
        <a href="/admin/manage/user">USER</a>
    </div>
</header>