<header>
    <a href="/admin/main"> <p class="logo">장비대여시스템 관리자 페이지</p></a>
    <div class="top-nav">
        <a href="/reservation">RESERVATION</a>
        <a href="/admin/main">MAIN</a>
        <a href="/">LIST</a>
        <a href="/admin/manage/equipment">MANAGE</a>
        <a href="/admin/manage/user">USER</a>
    </div>
</header>