.contents{
    padding: 0 10% 10%;
}
.title_div{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px 15px;
}
.arrow{
    transform: rotate(180deg);
    rotate: 180;
    width: 70%;

}
a{
    width: 11%;
    max-width: 40px;
}
h1{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8d091d;

    margin: 0 0 0 15px;
 
}

.content_div{
    margin-bottom: 12px;
}
h2{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: gray solid 1px;
    margin-bottom: 8px;
}
p{
    font-size: 11.8px;
    font-weight: 500;
    font-stretch: narrower;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    padding: 0 5px ;
    margin: 0;
}
span{
    color: #8d091d;

}
.check_div{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.check_flex{
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}

.checkbox{

    width: 20px;
    height: 20px;
    appearance: none;
    background-image: url('/static/images/unclicked.png');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 80%;
}
.checkbox:checked{
    width: 20px;
    height: 20px;
    appearance: none;
    background-image: url("/static/images/clicked.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 100%;

}
p.check_ment{
    font-size: 16px;
}
button{
    width: 155px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to bottom, #aa1a30, #8d091d);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 20px auto;
}
.none{
    display: none;
}
.block{
    display: block;
}
.borrow{
    text-align: center;
    width: 155px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to bottom, #aa1a30, #8d091d);
    margin: 0 auto;
    padding: 12px 0;

}
.go_borrow{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    text-decoration: none;

}
.go_borrow:hover{
    text-decoration: none;
    color: #ffffff;

}