{% extends 'introbase.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/admin/adminTab.css' %}" type='text/css'>
{% endblock %}

{% block content %}
<div class="wrap">
    <h2 class="heading">탭 관리</h2>
    <div class="message">
        <p>수정할 대상을 선택하세요</p>
    </div>
    <div class="line"></div>
    <table class="table">
        {% for tab in tabs %}
        <tr class="table__row">
            <td class="row__item"><a href="{% url 'editTab' tab.tabnum %}">{{tab.title}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <nav class="adminNav">
        <a href="{% url 'admin_index' %}">관리 홈으로</a>
    </nav>
</div>

{% endblock %}