{% extends 'introbase.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/admin/admin_index.css' %}" type='text/css'>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="heading">
        <h2>교육매체실 소개 관리</h2>
    </div>
    <div class="message">
        <p>수정할 대상을 선택하세요</p>
    </div>
    <div class="adminBox">
        <div class="adminBox__item">
            <a class="link" href="{% url 'adminTab' %}">탭 관리</a>
        </div>
        <div class="adminBox__item">
            <a class="link" href="{% url 'adminPost' %}">글/이미지 관리</a>
        </div>
    </div>
</div>

{% endblock %}