{% extends 'introbase.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/admin/adminPost.css' %}" type='text/css'>
{% endblock %}

{% block content %}
<div class="wrap">
    <h2 class="heading">글/이미지 관리</h2>
    <div class="message">
        <p>수정할 대상을 선택하세요</p>
    </div>
    <select name="selectTab" id="selectTab" onchange="getPost()">
        {% for tab in tabs %}
        <option value={{tab.tabnum}}>{{tab.title}}</option>
        {% endfor %}
    </select>
    <div class="line"></div>
    <table class="table" id="postTable">
        <tbody>
            <tr>
                <th>탭 이름 / 글 제목</th>
            </tr>
            <!-- {% for post in posts %}
            <tr class="table__row">
                <td class="row__item"><a href="{% url 'detailPost' post.pk %}">{{post.tab.title}} / {{post.title}}</a></td>
            </tr>
            {% endfor %} -->
        </tbody>
    </table>
    <a class="newPost" href="{% url 'newPost' %}">새 글 작성</a>

    <nav class="adminNav">
        <a href="{% url 'admin_index' %}">관리 홈으로</a>
    </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript" src="{% static 'admin/adminPost.js' %}"></script>
{% endblock %}