{% extends 'introbase.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/admin/editPost.css' %}" type='text/css'>
{% endblock %}

{% block content %}
<div class="wrap">
    <h2 class="heading">글 수정</h2>
    <div class="line"></div>
    <form class="postForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="post">
            <select name="tab" class="tabname" id="tab-select">
                {% for tab in tabs %}
                {% if tab.tabnum == post.tab.tabnum %}
                <option value="{{tab.tabnum}}" selected="selected">{{tab.title}}</option>
                {% else %}
                <option value="{{tab.tabnum}}">{{tab.title}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input id="js-title" type="text" name="title" class="title" value="{{post.title}}" placeholder="제목">
            <input id="js-subtitle" type="text" name="subtitle" class="subtitle" value="{{post.subtitle}}"
                placeholder="부제목">
            <textarea name="content" class="content" cols="30" rows="10" placeholder="내용">{{post.content}}</textarea>

            <div class="equip hide" id="equip-info">
                <p>장비 정보</p>
                <label>
                    유형:
                    <input type="text" name="equip_type" class="equip_type" value="{{post.equip_type}}"
                        placeholder="장비유형">
                </label>
                <br>
                <label>
                    수량:
                    <input type="number" name="count" class="count" value="{{post.count}}" min="0" placeholder="수량">
                </label>

                <p class="msg">*장비에는 하나의 이미지만 추가할 수 있습니다.</p>
            </div>
        </div>
        <div class="images">
            <p class="imagesMessage">이미지 첨부/삭제</p>
            {{ image_formset.as_p }}
        </div>
        <button type="submit">저장</button>
    </form>

    <nav class="adminNav">
        <a href="{% url 'adminPost' %}">목록 보기</a>
        <a href="{% url 'admin_index' %}">관리 홈으로</a>
    </nav>
</div>

<script type="text/javascript" src="{% static 'admin/editPost.js' %}"></script>
{% endblock %}