project/db.sqlite3
project/dbsettings.py
project/.ebextensions
project/.elasticbeanstalk

project/static
project/project
project/app/migrations/
project/adminpage/migrations/
project/introduce/migrations
project/introduce/static/img
project/introduce/sqlite3


media
.DS_Store