[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-allauth = "*"
qrcode = "*"
pillow = "*"
bootstrap4 = "*"
django-imagekit = "*"
mysqlclient = "*"
django = "==2.1.1"
psycopg2-binary = "*"
django-dbsettings = "*"

[requires]
python_version = "3.7"
