<% include ./base/base-header %>
<link rel="stylesheet" type="text/css" href="/css/adminpage/manageEquipment.css"/>
<title>관리자 페이지</title>
<% include ./base/base-navbar %>

<div id="wrapper">
    <div class="equip-wrapper">
    <div class="equip-head">
        <div>
        <a class="equip-heading" id = 'black' href="/">장비 관리</a>
        <a class="equip-heading" id = 'gray' href="/">스튜디오 관리</a>
        </div>
        <a class="equip-table-link" href="/">
        <button class="btn_add">+ 장비 추가</button>
        </a>
    </div>
    <div class="search">
        <form action="" method="GET">
        <input class="qinput" type="text" name="query" />
        <button type="submit" class="qsubmit">검색하기</button>
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th colspan="2">QR 보기</span>
            <th colspan="2">TYPE</span>
            <th colspan="3">장비이름</span>
            <th colspan="1">일련번호</span>
            <th colspan="2">활성상태</span>
            <th colspan="2">관리하기</span>
        </tr>
        </thead>
        <tbody>
            <% for (let equipment of equipments) { %>
                <tr>
                    <td colspan="2">
                    <a href="/">
                        <button class="btn--qr">QR 보기</button>
                    </a>
                    </td>
                    <td colspan="2"> <%= equipment.category%> </td>
                    <td colspan="3"> <%= equipment.kind%> (<%= equipment.name%>)</td>
                    <td colspan="1"> <%= equipment.serialNumber %> </td>
                    <td colsapn="2">
                    <% if (equipment.state == 0) { %>
                        <p class="equipState0">대여 가능</p>
                    <% } else if (equipment.state == 1) { %>
                        <p class="equipState0">대여 중</p>
                    <% } else if (equipment.state == 2) { %>
                        <p class="equipState0">연체 중</p>
                    <% } else if (equipment.state == 3) { %>
                        <p class="equipState0">연장</p>
                    <% } else if (equipment.state == 4) { %>
                        <p class="equipState0">기타</p>
                    <% } %>
                    </td>
                    <td colspan="2">
                    <a href="/">
                        <button class="btn--edit">수정</button>
                    </a>
                    <a href="/">
                        <button class="btn--delete">삭제</button>
                    </a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>


    </div>
</div>