<div class="navbar">
  <a class="logo" href="/"></a>
</div>

<div id="btn">
  <div id="top"></div>
  <div id="middle"></div>
  <div id="bottom"></div>
</div>
<div style="height: 68px; width: 100%"></div>
<div class="rent-page-btn">
  <a class="rent-page-btn-text" href="/reservation"> 장비 대여하기 </a>
</div>
