<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static '4-studio/step1.css' %}" type="text/css"/>
    {% endblock css %}
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} 스튜디오 예약하기 {% endblock title %}
</head>

<body>
    {% block content %}
    <!-- 스텝 보여주는 부분 -->
    <div class = "step_box">
        <div class= "step" id ="step1">STEP 1</div>
        <div class= "step" id ="step2">STEP 2</div>
    </div>
    <!-- 전체 폼 시작 -->
    <div class = "wrapper">
    <form method="POST" name="sDate">
        {% csrf_token %}
        <div class ="first_form">
            <p class = "step-sub">1. 대여 날짜 선택</p>
            <select id="year"></select>
            <span>년</span>
            <select id="month"></select>
            <span>월</span>
            <select id="day"></select>
            <span>일</span>
            <input type="hidden" name="currentYear" id="currentYear" value="{{year}}">
            <input type="hidden" name="currentMonth" id="currentMonth" value="{{month}}">
            <input type="hidden" name="currentDay" id="currentDay" value="{{day}}">
            <input type="hidden" name="selectDate" id="selectDate" value="">
        </div>
    </form>
    <form method="POST" name = "step1" action="{% url 'studio_step2' %}" onsubmit="return checkAll()">
        {% csrf_token %}
        <div>
            <p class = 'step-sub first_form'>2. 스튜디오 선택</p>
            {% for otherObject in otherObjects %}
                <div class = "red_menu_box" >
                    {% if otherObject.type != "편집실" %}
                        <input class="header_checkbox" type="checkbox" id="{{otherObject.type}}" value="{{otherObject.type}}" onchange="checkHandler(this)"/>
                        <p class ="red_menu_text red_menu_other">{{otherObject.type}}</p>
                        <p class ="red_menu_text" id="arrow" onclick = "hide(this)">▼</p>
                    {% else %}
                        <p class ="red_menu_text red_menu_edit">{{otherObject.type}}</p>
                        <p class ="red_menu_text" id="arrow" onclick = "hide(this)">▼</p>
                    {% endif %}
                </div>    
                <div class = "cam_box mystyle">
                    {% for studioInfo in otherObject.info %}
                        <div class = "cam_menu ">
                            {% if otherObject.type == "편집실" %}
                                <div class = "cam_check">
                            {% else %}
                                <div class = "cam_check cam_check_2">
                            {% endif %}
                                <input type="hidden" class="studioCount" value="{{studioInfo.time1}}">
                                <input type="hidden" class="studioCount2" value="{{studioInfo.time2}}">
                                {% if otherObject.type == "편집실" %}
                                    <input type="radio" name="edit" id="edit"  value = "{{studioInfo.name}}" onchange="radioHandler(this)" >
                                    <input type="hidden" class="studioName" value="{{studioInfo.name}}">
                                    <p>{{studioInfo.name}}</p>
                                {% else %}
                                    <input type="hidden" class="studioName" value="{{studioInfo.name}}">
                                {% endif %}
                                </div>
                            <div class="graph">
                                <div class = "chart">
                                    <div class = 'bar_body'>
                                        <div class = 'day'>
                                            <div class ='stack'>
                                                {% for hour in studioInfo.time1 %}
                                                <div class="time-hour">
                                                    <div class="{{forloop.counter0}}" id={{hour}}>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                       
                                            </div>
                                            <div class = 'hour_num'>
                                                <p>00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 </p>
                                            </div>
                                        </div>
                                        <div class = "day_divide"></div>
                                        <div class = 'day'>
                                            <div class = "stack">
                                                {% for hour in studioInfo.time2 %}
                                                <div class="time-hour">
                                                    <div class="{{forloop.counter0|add:"24"}}" id={{hour}}>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class = "hour_num">
                                                <p>00 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
            
        <div>
            <p class = "step-sub first_form">3. 선택 목록</p>
        </div>
        <div class="borrow_list">

        </div>
        <div class = "set_time">
            <div class = 'rev_time'>
                <label>예약 일시</label>
                <input type="date" id="fromDate" name="fromDate" value="{{calendar}}" readonly/>
                <select id="startAMPM">
                    <option value="am">오전</option>
                    <option value="pm">오후</option>
                </select>
                <select id="selectFromTime"></select>
                <span>시</span>
            </div>
            <div class = 'rev_time'>
                <label>반납 일시</label>
                <select id="returnDate">
                </select>
                <select id="endAMPM">
                    <option value="am">오전</option>
                    <option value="pm">오후</option>
                </select>
                <select id="selectToTime"></select>
                <span>시</span>
            </div>
        </div>
        <input type="hidden" id="toDate" name="toDate" value=""/>
        <input type="hidden" id="fromTime" name="fromTime" value=""/>
        <input type="hidden" id="toTime" name="toTime" value=""/>
        <input type="hidden" id="nextDay" name="nextDay" value="{{nextDay}}"/>
        <input type="hidden" id="resultBorrow" name="resultBorrow" value="">
        <div class = "button_box">
            <button type="submit">다음 단계</button>
        </div>
    </form>       
    </div>
    <script type="text/javascript" src="{% static '4-studio/step1.js' %}"></script>
    <script type="text/javascript" src="{% static '4-studio/stockCheck.js' %}"></script>
    <script type="text/javascript" src="{% static '4-studio/selectDate.js' %}"></script>
    <script type="text/javascript" src="{% static '4-studio/formValidate.js' %}"></script>
    {% endblock content %}
</body>
</html>