#wrapper {
    padding: 0;
    height: auto;
}
a{
    text-decoration: none;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    border-radius: 10px;
}
thead {
    border-bottom-style: solid;
    border-bottom-color: rgba(200, 200, 200, 0.4);
    border-bottom-width: 2px;
    background-color: rgba(242, 242, 242, 0.8);
}
th {
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    font-weight: normal;
}
td {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.center{
    display: flex;
    justify-content: center;
}
.equip-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.equip-wrapper button {
    cursor: pointer;
}
.equip-wrapper span {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
.equip-head{
    width: 88%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.equip-heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-left: 40px;
    width: 200px;
}

.btn_add {
    width: 123px;
    height: 35px;
    outline: none;
    border-radius: 17.5px;
    font-size: 16px;
    font-weight: 500;
    border-style: none;
    color: #ffffff;
    background-color: #bbbbbb;
}
.equip-table {
    width: 88%;
    height: 70vh;
    padding: 0px 4%;
    border-radius: 7px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;
    overflow-y: auto;
}

.equip-table-header {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1.5px solid #bbbbbb;
    padding-top: 18px;
    margin-bottom: 12px;
    position: sticky;
    top: 0px;
    padding-top: 18px;
    background-color: #ffffff;
}

.equip-table-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.btn--delete {
    width: 50px;
    height: 28px;
    background-color: #bbbbbb;
    color: #ffffff;
    outline: none;
    border-radius: 1.5px;
    font-size: 12.5px;
    text-align: center;
    border-style: none;
}
.btn--edit {
    width: 50px;
    height: 28px;
    background-color: #aa1a30;
    color: #ffffff;
    outline: none;
    border-radius: 1.5px;
    font-size: 12.5px;
    text-align: center;
    border-style: none;
}


.equipState0 {
    width: 70px;
    height: 23px;
    background-color: #008910;
    outline: none;
    border-radius: 20px;
    font-size: 12.5px;
    color: white;
    margin: auto;
}
.equipState1 {
    width: 74px;
    height: 23px;
    background-color: #bbbbbb;
    outline: none;
    border-radius: 20px;
    font-size: 12.5px;
    color: white;
    margin: auto;
}
.btn_wrap {
    width: 15%;
    margin-left: 23px;
    display: flex;
    justify-content: space-around;
}
.btn_wrap > a{
    margin-left: 10px;
}

.btn--qr {
    width: 70px;
    outline: none;
    border-radius: 1.5px;
    border-style: none;
    font-size: 12.5px;
    font-weight:400;
    letter-spacing: 0.4px;
    height: 28px;
    background-color: #cccccc;
    color: white;
}
