{% extends 'base.html' %}
{% load static %}
{% block title %} 마이페이지 {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static '5-mypage/mypage.css' %}" />

{% endblock css %} {% block content %}

<div class="wrapper">
    <div class="page_title_div">
        <span class="page_title">마이 페이지</span>
    </div>

    <div class="page_contents">

        <!-- 프로필 기본 정보 -->
        <div class="profile_div">
            <img class="profile_img" src="{% static 'images/user_profile.png' %}" alt="프로필 아이콘">
            <div class="profile_info">
                <p class="user_name">{{ user.profile.name }}</p>
                <p class="user_major">{{ user.profile.major }}</p>
            </div>
        </div>

        <!-- 프로필 디테일 정보 -->
        <div class="profile_detail_div">
            <div class="go_borrow_list">
                <a class="go_text" href="{% url 'lastReservation' %}">
                    지난 대여 내역
                    <img class="arrow_icon_2" src="{% static 'images/arrow_icon.png' %}" alt="지난 예약 내역 보러가기">
                </a>
            </div>
            <div class="panelty">
                <p class="panelty_title">Penalty</p>
                <p class="panelty_num">{{  user.profile.penalty  }} 점</p>
            </div>

        </div>


        
        <!-- 예약 현황  -->
        <div class="borrow_now_div">
            
            <h3 class="h3">나의 예약 현황</h3>
            {% if Equip_now|length == 0 and Studio_now|length == 0 %}
            <div class="no_reservation_div">
                <p class="no_reservation">현재 대여 내역이 없습니다.</p>
                <!-- <a class="go_borrow" href="{% url 'borrow_step1' %}">장비 대여하기</a> -->
            </div>
            {% else %}
            <div>

                <!-- 장비 대여 현황 -->
                {% if Equip_now|length == 0 %}
                    
                {% else %}
                    <span class="device_or_studio">장비 예약 현황</span>
                {% endif %}
                    {% for E in Equip_now %}
                    
                    <div class="borrow_box">
                        <div class="borrow_header_flex">
                            <div class="borrow_date_flex">   
                                <p class="date">대여일: {{E.fromDateYear}}년 {{E.fromDateMonth}}월 {{E.fromDateDay}}일 {{E.fromDateTime}}시</p>
                                <p class="date">반납일: {{E.toDateYear}}년 {{E.toDateMonth}}월 {{E.toDateDay}}일 {{E.toDateTime}}시</p>
                            </div>
                        
                            <button class="js_equip_btn" id="{{E.pk}}" onClick="openEquipModal(this);">
                                <img class="trash_img" src="{% static 'images/trash.png' %}" alt="삭제">
                            </button>
                        </div>

                        {% for equip in E.equips %}
                        <p class="borrow_list_detail">{{equip.name}} (수량: {{equip.count}})</p>
                        {% endfor %}
                    </div>
                    <div class="deleteModal modal_close" id="Emodal_{{E.pk}}">
                        <input type="hidden" id="borrowState_{{E.pk}}" value={{E.borrowState}}>
                        <div class="modal_content" id="Equip_modal_{{E.pk}}">
                            <p>예약을 취소하시겠습니까?</p>
                            <div class="choose">
                                <div class="cancel" id="{{E.pk}}" onClick="cancelBtn(this);">
                                    <span>취소</span>
                                </div>
                                <div class="accept">
                                    <a href="{% url 'cancelEquip' E.pk %}">확인</a>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- 변수 예시  -->
                <!--유저 이름     username=김동현/컴퓨터학과       -->
                <!--빌린 장비     equipment=['DSLR (Canon EOS-80D) : 1']      -->
                <!--빌린 날짜     fromDate=20200829      -->
                <!--빌린 시간     fromDateTime      -->
                <!--반납 날짜     toDate=20200829      -->
                <!--반납 시간     toDateTime      -->
                <!--실제 반납 날짜     realDate=0      -->
                <!--실제 반납 시간     realDateTime=0      -->
                <!--소속     group=매체실 산하 방송국      -->
                <!--목적     purpose=방송국 촬영     -->
                <!--학생증여부     auth=학생증      -->
                <!--비고     remark=dd      -->
                <!--현재상태     borrowState=0      -->
                {% endfor %}






<!-- 스튜디오 예약현황 -->
            {% if Studio_now|length == 0 %}
                                
            {% else %}
                <span class="device_or_studio">공간 예약 현황</span>
            {% endif %}
            
            {% for S in Studio_now%}
            
            <div class="borrow_box">
                <div class="borrow_header_flex">
                    <div class="borrow_date_flex">   
                        <p class="date">대여일: {{S.fromDateYear}}년 {{S.fromDateMonth}}월 {{S.fromDateDay}}일 {{S.fromDateTime}}시</p>
                        <p class="date">반납일: {{S.toDateYear}}년 {{S.toDateMonth}}월 {{S.toDateDay}}일 {{S.toDateTime}}시</p>
                    </div>

                    <button class="js_studio_btn" id="{{S.pk}}" onClick="openStudioModal(this);">
                        <img class="trash_img" src="{% static 'images/trash.png' %}" alt="삭제">
                    </button>
                </div>
        

                    {% for studio in S.studio %}
                    <p class="borrow_list_detail">{{studio}}</p>
                    {% endfor %}
            </div>
                    <div class="deleteModal modal_close" id="Smodal_{{S.pk}}">
                        <input type="hidden" id="studioState_{{S.pk}}" value={{S.studioState}}>
                        <div class="modal_content" id="Studio_modal_{{S.pk}}">
                            <p>예약을 취소하시겠습니까?</p>
                            <div class="choose">
                                <div class="cancel" id="{{S.pk}}" onClick="cancelBtn2(this);">
                                    <span>취소</span>
                                </div>
                                <div class="accept"">
                                    <a href="{% url 'cancelStudio' S.pk %}">확인</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                <!-- 예약 현황  -->

           {% endif %}
        </div>
    </div>

</div>
<script type="text/javascript" src="{% static '5-mypage/mypage.js' %}"></script>

{% endblock content %}