@import url('./css/KoPubDotum.css');

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    min-width: 375px;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    box-sizing: border-box;
    height: 4.25rem;
    width: 100%;
    border-bottom: 0.1px rgb(184, 184, 184) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;

}

.logo {
    box-sizing: border-box;
    height: 40px;
    width: 180px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://user-images.githubusercontent.com/46775877/89150419-7a7dd180-d599-11ea-9109-21f47de81fbb.png);
    justify-content: center;
}

.sidebar-open {
    font-size: 2.2rem;
    color: rgb(158, 156, 156);
    margin-right: 0.625rem;
}

.show {
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.side-bar {
    background-color: rgba(0, 0, 0, 0.74);
    height: 812px;
    width: 238px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 6;
    padding: 12px;
    display: none;
}

.sidebar-close {
    position: fixed;
    left: 17px;
    top: 17px;
    font-size: 35px;
    color: white;
}

.tab {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    text-decoration: none;
    color: white;
    border-bottom: rgba(168, 168, 168, 0.712) 1px solid;
}

.sub-tab {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

#main-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#box {
    position: fixed;
    z-index: 5;
    overflow: auto;
    top: 0px;
    right: 0px;
    width: 238px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    color: whitesmoke;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);

    /* 추가 */
    display: none;
}

#box.active {
    opacity: 1;

    /* 추가 */
    display: block;
    z-index:20;
}

#items {
    margin-top: 120px;
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#items .tab:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}

#btn {
    position: fixed;
    z-index: 5;
    top: 17px;
    right: 17px;
    cursor: pointer;
    -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn div {
    width: 35px;
    height: 3px;
    margin: 6px;
    background-color: rgb(158, 156, 156);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}

#btn:hover > div { box-shadow: 0 0 1px black; }



#btn.active { 
    right: 180px;
    z-index: 30;
}


#btn.active div { background-color: whitesmoke; z-index: 6;}

#btn.active:hover > div { box-shadow: 0 0 1px; border-left: 1px solid black; }

#btn.active #top {
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(8px) rotate(-135deg);
}

#btn.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#btn.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.nav-empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rent-page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 140px;
    height: 4%;
    min-height: 40px;
    border-radius: 25px;
    border: none;
    /* box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16); */
    background-image: linear-gradient(to bottom, #c62128, #990200);
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}

.rent-page-btn:hover {
    background-color: #99000093;
}


.rent-page-btn-text {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 700;
    display: flex;
}

.footer {
    padding-top: 5%;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    padding: 0.7rem;
    width: 100%;
    background-color: #F6F6F6;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
}

.footer-title {
    box-sizing: border-box;
    color: black;
    margin-bottom: 1.5rem;
}

.footer p {
    margin: 0;
}

.footer a {
    margin: 0;
    text-decoration: none;
    color: gray;
}

@media(max-width:768px) {

    .rent-page-btn {
        margin: 1.25rem 1.25rem 0rem auto;
        width: 120px;
        z-index: 1;
    }

    .footer {
        height: 4.875rem;
    }
    .footer-left {
        display: none;
    }
    .footer-mid {
        text-align: center;
        margin: 0 auto;
    }

    .footer-right {
        display: none;
    }

    .footer-title {
        display: none;
    }
}

@media(min-width:768px) {
    html {
        font-size: 1rem;
    }

    .rent-page-btn {
        position: fixed;
        top: 1rem;
        right: 5rem;
        z-index: 5;
    }

    .footer {
        height: 12.75rem;
        font-size: 0.8rem;
    }

    .footer-left {
        box-sizing: border-box;
        width: 25%;
        padding-top: 2.4rem;
    }

    .footer-left-image {
        margin : 0 auto;
    }

    .footer-mid {
        box-sizing: border-box;
        width: 50%;
    }

    .footer-right {
        box-sizing: border-box;
        width: 25%;
    }

    .footer-title {
        text-align: center;
    }
}