@import url(introbase.css);

.header {
    margin-top: 3.75rem;
}

.head-title {
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
}

.main {
    margin-top: 1.875rem;
}

.main-titlebox {
    text-align: center;
}

.main-subbox {
    margin: 1.5625rem 0 3.125rem 0;
    padding: 0 2.5rem 0 2.5rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.9375rem;
}

@media(min-width:768px) {
    .header {
        margin-top: 5rem;
    }

    .head-title {
        font-size: 2.5rem;
    }

    .main {
        margin-top: 5rem;
        margin-bottom: 4rem;
    }

    .main-subbox {
        min-width: 445px;
    }

    .title {
        font-size: 2.2rem;
        margin: 0 auto 1.75rem auto;
        font-weight: 600;
    }

    .content {
        font-size: 1.5rem;
        margin: 0 auto;
        max-width: 600px;
    }
}