{% extends 'introbase.html' %}
{% load static %}
{% block title %} 마이페이지 {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'introerror.css' %}" />

{% endblock css %} 
{% block content %}
<div class="introerror-container">
    <img class="introerror-img" src="{% static 'images/error_icon.png''%}" alt="error">
    <h1>Error</h1>
    <p>잘못된 페이지 요청입니다.</p>
    <!-- <p> 요청하신 페이지 처리 중 오류가 발생했습니다. </p> -->
    <p> 확인 후 다시 시도해 주시기 바랍니다. </p>
    <a href="{% url 'home' %}">메인으로 돌아가기</a>
</div>

{% endblock content %}