{% extends 'introbase.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'tab4.css' %}" type='text/css'>
{% endblock %}
<!-- 교육매체실&미디어학부 시너지 -->
{% block content %}
<div class="header">
    <div class="head-title">{{tab.title}}</div>
</div>

{% for post in posts %}
<div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">{{post.title}}</div>
            <div class="content" style="white-space: pre-wrap;">{{post.content}}</div>
        </div>
    </div>
    {% for image in post.images.all %}
    <img class="img" src="{{image.file.url}}" width="100%" />
    {% endfor %}
</div>
{% endfor %}
<!-- <div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">인프라 제공</div>
            <div class="content">국내 대학 최고수준 방송장비와 공간 제공</div>
        </div>
    </div>
    <img class="img" src="../static/img/No.01-SBS스튜디오.jpg" width="100%" />
</div>

<div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">실습과 <br>기술교육 지원</div>
            <div class="content">미디어학부 유관 분야 진로 진출을 위한 실습 위주의 기술교육 지원</div>
        </div>
    </div>
    <img class="img" src="../static/img/No.03-사운드스튜디오.jpg" width="100%" />
</div>

<div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">콘텐츠 제작<br>실무능력 배양</div>
            <div class="content">미디어 우수 인재들에 대한 교내 방송국 활동과 업무 참여로 콘텐츠 제작 실무능력 배양</div>
        </div>
    </div>
    <img class="img" src="../static/img/No.04-사운드스튜디오.jpg" width="100%" />
</div> -->
{% endblock content %}