{% extends 'introbase.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'tab5.css' %}" type='text/css'>
{% endblock %}
<!-- 4대 핵심콘텐츠 -->
{% block content %}
<div class="header">
    <div class="head-title">{{tab.title}}</div>
</div>
{% for post in posts %}
<div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">{{post.title}}</div>
            <div class="content" style="white-space: pre-wrap;">{{post.content}}</div>
        </div>
    </div>
    {% for image in post.images.all %}
    <img src="{{image.file.url}}" style="width: 100%;" />
    {% endfor %}
</div>
{% endfor %}
<!-- <div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">2. 온/오프라인미디어 아카이빙</div>
            <div class="content">주요 행사와 활동을 기록하여 고려대학교의 역사와 발자취를 영구 보존</div>
        </div>
    </div>
    <img src="../static/img/No.07-아카이빙.jpg" width="100%" />
</div>

<div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">3. 웨비나 (강의/행사 송출)</div>
            <div class="content">국내대학 최대 규모 CATV 방송망을 통해 각종 강의, 행사 등을 교내 모든 구성원이 시청 가능하도록 송출</div>
        </div>
    </div>
    <img src="../static/img/No.09-웨비나.jpg" width="100%" />
</div>

<div class="main">
    <div class="main-titlebox">
        <img src="../static/img/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">4. 미디어월 콘텐츠</div>
            <div class="content">기부자 예우 프로그램, 홍보 및 정보전달 채널로써 중앙광장(디지털 도너스월), 라이시움, SK미래관에 대형 미디어월 운영</div>
        </div>
    </div>
    <img src="../static/img/No.10-미디어월.jpg" width="100%" />
</div> -->
{% endblock content %}