<% include ./base-header %>
<link rel="stylesheet" href="css/introduce/home.css" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

<% include ./base-navbar %>

<!-- Slider main container -->
<div class="swiper-container">
  <div class="swiper-nav-text">
    KU Media Center
    <br />
    <span style="color: wheat">고려대학교 교육매체실</span>에 오신 것을
    환영합니다.
  </div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- 슬라이더 입니다. -->
    <div class="swiper-slide slide1"></div>
    <div class="swiper-slide slide2"></div>
    <div class="swiper-slide slide3"></div>
  </div>

  <!-- 만약 페이지네비게이션이 필요하다면 추가하세요 -->
  <div class="swiper-pagination"></div>

  <!-- 양옆에 좌우 버튼이 필요하다면 추가하세요 -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="button-box">
  <div class="button">
    <a class="button-text"
      ><div
        class="button-text"
        style="
          font-size: 1.08rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16rem;
          height: 3rem;
        "
      >
        교육매체실 소개
      </div></a
    >
  </div>
  <div class="button">
    <a class="button-text"
      ><div
        class="button-text"
        style="
          font-size: 1.08rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16rem;
          height: 3rem;
        "
      >
        장비대여
      </div></a
    >
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".swiper-container", {
    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<% include ./base-footer %>
