<% include ./base/base-header %>

<link rel="stylesheet" href="css/introduce/tab5.css" type='text/css'>

<% include ./base/base-navbar %>

<!-- <div class="header">
    <div class="head-title">{{tab.title}}</div>
</div>
{% for post in posts %}
<div class="main">
    <div class="main-titlebox">
        <img src="../../public/images/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title">{{post.title}}</div>
            <div class="content" style="white-space: pre-wrap;">{{post.content}}</div>
        </div>
    </div>
    {% for image in post.images.all %}
    <img src="{{image.file.url}}" style="width: 100%;" />
    {% endfor %}
</div>
{% endfor %} -->

<% include ./base/base-footer %>