<% include ./base/base-header %>

<link rel="stylesheet" href="/css/introduce/tab5.css" type='text/css'>

<% include ./base/base-navbar %>

<div class="header">
    <div class="head-title"> <%= tab.title %></div>
</div>
<% for (let post of posts) { %>
    <div class="main">
    <div class="main-titlebox">
        <img src="/images/tab3_bar.jpg" width="61px" />
        <div class="main-subbox">
            <div class="title"> <%= post.title %></div>
            <div class="content" style="white-space: pre-wrap;"> <%= post.content %></div>
        </div>
    </div>
    <% for (let image of post.images) { %>
        <img src="<%= image.file %>" style="width: 100%;" />
    <% } %>
</div>
<% } %>

<% include ./base/base-footer %>